<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277486190983-u46lnbhc1vae49h475dll31lltk9cj12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277486190983-u46lnbhc1vae49h475dll31lltk9cj12</string>
	<key>API_KEY</key>
	<string>AIzaSyDc3a0xzshSAep5dc_Zz74_LQqZ7VqyzpY</string>
	<key>GCM_SENDER_ID</key>
	<string>277486190983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivankosarev.FreshPizzaApp</string>
	<key>PROJECT_ID</key>
	<string>freshpizza-1520889052117</string>
	<key>STORAGE_BUCKET</key>
	<string>freshpizza-1520889052117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277486190983:ios:ff00b90d82938e60</string>
	<key>DATABASE_URL</key>
	<string>https://freshpizza-1520889052117.firebaseio.com</string>
</dict>
</plist>